{# 端面车削NC代码模板 #}
; 端面车削 - 直径{{ material_diameter }}mm
; 进给: {{ feed_rate }} mm/min, 转速: {{ spindle_speed }} RPM
; 切深: {{ depth_of_cut }}mm

N10 G90 G54 G21        ; 绝对坐标, 工件坐标系, 公制
N20 T{{ tool_number }}01 M6           ; 选择刀具{{ tool_number }}
N30 G97 S{{ spindle_speed }} M3  ; 恒转速, 主轴正转
N40 G00 X{{ material_diameter + 5 }} Z0  ; 快速定位
N50 G96 S120 M3          ; 恒线速120m/min

N60 G71 U{{ depth_of_cut }} R0  ; 端面车削循环
N70 G71 P80 Q100 U0 F{{ feed_rate }}
N80 G00 Z1               ; 起始位置
N90 G01 X0               ; 车到中心
N100 Z0                  ; 端面完成

N110 G00 Z100            ; Z轴退刀
N120 X{{ material_diameter + 5 }}          ; X轴退刀
N130 M05                 ; 主轴停止
N140 M30                 ; 程序结束
