{# NAME: (A)1.MPF 同步车右侧 两个键槽 一三通道越程槽 一二通道精车 #}
;------------------------------------
L100 ;'''机床要求'''
;------------------------------------
GROUP_BEGIN(0,"STARTPOSITION",0,0)
DG_CAL_IR9 ;'''载入必要的参数'''
;------------------------------------
;'''零点偏移赋值'''
XMW_1=0
YMW_1=0
ZMW_1=I_R9[35]+I_R9[43]
CMW_1=0
;------------------------------------
;'''两个换刀点赋值'''
I_SPX=1370
I_SPY=0
I_SPZ=500
I_SPX2=1370
I_SPY2=-100
I_SPZ2=0
;------------------------------------
;检查液压
M1=28 H55
M2=28 H55
M24=28 H40
;------------------------------------
;'''限速及零点偏移'''
G92=I_R9[40]
G59 X=XMW_1 Y=YMW_1 Z=ZMW_1 C=CMW_1
;------------------------------------
;'''载入尾座位置，需要提前偏移好零点'''
L120(I_R9[81],I_R9[80],I_R9[85],I_R9[32],-2,I_R9[82],I_R9[83],I_R9[84])
;------------------------------------
GROUP_END(0,0)

START_:
WAITM(0,1,2,3)

GROUP_BEGIN(0,"RETURN TOOL",1,0)
G59 X=XMW_1 Y=YMW_1 Z=ZMW_1 C=CMW_1
;------------------------------------
;换空刀DECKEL回初始位置
GX73
GZ73 Y0
L171("DECKEL")
L172(0)
L171("PROBE")
GX73
GZ73 Y0
L184(0,90,,,,0)
D0
M4=5
GXYZ273
;------------------------------------
WAITM(1,1,2,3)
GROUP_END(0,1)

WAITM(2,1,2,3)

;------------------------------------
;'''跳步点'''
GOTOF "STEP_"<<I_STEP
;------------------------------------
STEP_0:;'''上活位置'''
MSG("PLAESE LOAD RAW PART")
/1M1=81
/1M0
M1=69
M2=68
M9=26
;------------------------------------
;--在VERICUT中模拟时使用G53移动尾座
;--机床上空跑程序删除G53前分号
;--机床上实际加工时G53前加分号
G53 Z5=I_ZR[230]
;------------------------------------
STEP_2:;'''测量毛坯'''
WAITM(3,1,2,3)

/6PROBE

WAITM(4,1,2,3)
;------------------------------------
;'''还测头回刀库,调刀T9'''
GX73
GZ73 Y0
L184(0,0,,,,0)
L171("T9")
L172(0)
GX73
GZ73 Y0
;------------------------------------
STEP_5:
WAITM(5,1,2,3)
;------------------------------------
;'''夹紧卡爪，松开驱动盘'''
MSG("CLAMPING JAWS")
M4=5
M0
M2=69
M1=68
G4 F1
;------------------------------------
STEP_6:
WAITM(6,1,2,3)
;------------------------------------
;'''二通道车黑皮'''

;------------------------------------
STEP_110:
WAITM(10,1,2,3)
;------------------------------------
;'''一二通道同步粗车-右侧'''
GROUP_BEGIN(0,"Sync Turning right side",0,0)
MSG("Sync Turning right side")
GX73
GZ73 Y0
L184(0,0,,,,0)
L171("T9")
L172(0)
L171("T7")
GX73
GZ73 Y0
G59 X=XMW_1 Y=YMW_1 Z=ZMW_1 C=CMW_1
M10=90
L184(6,90,,,180,0,0)
M11=90
D1
SETMS(4)
DIAMON
G18
G92=I_R9[40]
G95 G90 G0 G40 Y0
;G96 S4=170 M4=4
M13=8 ;M10=150 H50=50
G0 Z=I_R9[51]+5
G0 X=I_R9[50]+20
WAITM(11,1,2)
;------------------------------------
{{SYNC_TURNING_RIGHT_CH1}}
;------------------------------------
M14=9
M13=9
M10=151
GX73
GZ73 Y0
M01
GROUP_END(0,0)
;------------------------------------
STEP_130:
WAITM(52,1,2)

;'''一二通道同步粗车完成'''
;------------------------------------

;------------------------------------
STEP_153:
WAITM(53,1,2,3)
;------------------------------------

;------------------------------------
STEP_156:
WAITM(56,1,2,3)
;------------------------------------

STEP_158:
WAITM(58,1,2,3)
;'''松开卡爪，顶紧驱动盘，准备精车'''
;------------------------------------
MSG("OPENING JAWS")
M4=5
M1=69
M2=68
G4 F1
M0

;------------------------------------
STEP_159:
WAITM(59,1,2,3)
;'''一二三通道精车'''
;----------
;精车程序...
;----------
GROUP_BEGIN(0,"Right SIDE FINISHING",0,0)
MSG("Right SIDE FINISHING")
GX73
GZ73 Y0
L184(0,0,,,,0)
L171("T7")
L172(0)
L171("T12")
GX73
GZ73 Y0
G59 X=XMW_1 Y=YMW_1 Z=ZMW_1 C=CMW_1
M10=90
L184(6,90,,,180,0,0)
M11=90
D1
SETMS(4)
DIAMON
G18
G92=I_R9[40]
G95 G90 G0 G40 Y0
G96 S4=200 M4=4
M13=8 ;M10=150 H50=50
G0 Z=I_R9[51]+5
G0 X=I_R9[50]+20
WAITM(60,1,2,3)
;------------------------------------
{{FINISH_TURNING_CH1}}
;------------------------------------
M14=9
M13=9
M10=151
GX73
GZ73 Y0
M01
GROUP_END(0,0)

WAITM(61,1,2,3)
M4=5
;'''精车结束'''
;------------------------------------

STEP_162:
WAITM(62,1,2,3)

;----------
;左侧越程槽程序...
GROUP_BEGIN(0,"LFET SIDE RELIEF GROOVE",0,0)
MSG("LFET SIDE RELIEF GROOVE")
GX73
GZ73 Y0
L184(0,0,,,,0)
L171("T12")
L172(0)
L171("T14")
GX73
GZ73 Y0
G59 X=XMW_1 Y=YMW_1 Z=ZMW_1 C=CMW_1
M10=90
L184(6,90,,,180,0,0)
M11=90
D1
SETMS(4)
DIAMON
G18
G92=I_R9[40]
G95 G90 G0 G40 Y0
;G96 S4=150 M4=4
M13=8 ;M10=150 H50=50
WAITM(63,1,3)
;------------------------------------
{{RELIEF_GROOVE_right_CH1}}
;------------------------------------
WAITM(64,1,3)

M14=9
M13=9
M10=151
GX73
GZ73 Y0
M01
GROUP_END(0,0)
;越程槽程序结束...
;----------

STEP_165:
WAITM(65,1,2,3)

;----------
;卡簧槽程序...
GROUP_BEGIN(0,"TURNING SHARP GROOVE",0,0)
MSG("TURNING SHARP GROOVE TW=4.15 R0.15")
GX73
GZ73 Y0
L184(0,0,,,,0)
L171("T14")
L172(0)
L171("{{ U_FIRST_MILLING_T }}")
GX73
GZ73 Y0
G59 X=XMW_1 Y=YMW_1 Z=ZMW_1 C=CMW_1
M10=90
L184(6,90,,,180,0,0)
M11=90
D1
SETMS(4)
DIAMON
G18
G92=I_R9[40]
G95 G90 G0 G40 Y0
G96 S4=120 M4=4
M13=8 ;M10=150 H50=50
G0 G40 Z=I_R9[51]/2 Y0
;------------------------------------
{{SHARP_GROOVE_right_CH1}}
;------------------------------------
M14=9
M13=9
M10=151
M4=5
GX73
GZ73 Y0
M01
GROUP_END(0,0)
;卡簧槽程序结束...
;----------

STEP_168:
WAITM(68,1,2,3)

STEP_171:
WAITM(71,1,2,3)
;------------------------------------
MSG("CLAMPING JAWS")
M4=5
M0
M2=69
M1=68
G4 F1

;------------------------------------
;'''铣键槽'''
STEP_174:
WAITM(74,1,2,3)
;----------
;铣键槽程序...

;'''粗铣'''
;'''快速铣刀粗铣键槽1'''
UZ_RKM_1

;'''快速铣刀粗铣键槽2'''
UZ_RKM_2


C=DC(180.00)
G4 F1
C=DC(0.00)

;'''精铣'''
;'''精铣键槽1'''
UZ_FKM_1

;'''精铣键槽2'''
UZ_FKM_2


;'''倒角'''
;'''键槽1倒角'''
UZ_DJ_1

;'''键槽2倒角'''
UZ_DJ_2


C=DC(180.00)
G4 F1
C=DC(0.00)

;------------------------------------

STEP_177:
WAITM(77,1,2,3)

STEP_180:
WAITM(80,1,2,3)

STEP_183:
WAITM(83,1,2,3)

;------------------------------------
STEP_850:
WAITM(85,1,2,3)

GROUP_BEGIN(0,"UNLOAD",1,0)
MSG(" UNLOAD FINISH WORKPIECE")
GX73
GZ73 Y0
L171("DECKEL")
L172(0)
GX73
GZ73 Y0
L184(0,90,,,,0)
D0
M4=5
GXYZ273
STOPRE
GROUP_END(0,1)
;------------------------------------
WAITM(86,1,2,3)
M2=69
M1=81
M0

STEP_8000:

STEP_9999:
STOPRE
WAITM(99,1,2,3)
;------------------------------------
;'''程序结束'''
I_M392

M30
;------------------------------------
;'''错误跳转位置'''
MA333:
M193 H55162
M0
M02

%
