{# NAME: (A)2.MPF 同步车右侧 两个键槽 一三通道越程槽 一二通道精车 #}
;------------------------------------
L100 ;'''机床要求'''
;------------------------------------
GROUP_BEGIN(0,"STARTPOSITION",0,0)
DG_CAL_IR9 ;'''载入必要的参数'''
;------------------------------------
;'''零点偏移赋值'''
XMW_1=0
YMW_1=0
ZMW_1=I_R9[35]+I_R9[43]
CMW_1=0
;------------------------------------
;'''两个换刀点赋值'''
I_SPX=580
I_SPY=0
I_SPZ=550
I_SPX2=580
I_SPY2=0
I_SPZ2=-50
;------------------------------------
;'''限速及零点偏移'''
G92=I_R9[40]
G59 X=XMW_1 Y=YMW_1 Z=ZMW_1 C=CMW_1
;------------------------------------
GROUP_END(0,0)

START_:
WAITM(0,1,2,3)

GROUP_BEGIN(0,"RETURN TOOL",1,0)
G59 X=XMW_1 Y=YMW_1 Z=ZMW_1 C=CMW_1
;------------------------------------
;换空刀T4回初始位置
GX73
GZ73 Y0
T4
D0
GZ273
;------------------------------------
WAITM(1,1,2,3)
GROUP_END(0,1)

WAITM(2,1,2,3)

;------------------------------------
;'''跳步点'''
GOTOF "STEP_"<<I_STEP
;------------------------------------
STEP_0:;'''上活位置'''
;------------------------------------
STEP_2:;'''测量毛坯'''
WAITM(3,1,2,3)

WAITM(4,1,2,3)
;------------------------------------
;'''粗车左侧夹口位置'''
GROUP_BEGIN(0,"LEFT SIDE ROUGHING",0,0)
MSG("LEFT SIDE ROUGHING")
GX73
GZ73 Y0
T9
D1
DG_CAL_IR9
G59 X=XMW_1 Y=YMW_1 Z=ZMW_1 C=CMW_1
SETMS(4)
DIAMON
G18
G92=I_R9[40]
G95 G90
G96 S4=170 M4=4
M21=8 ;M20=150 H50=50
;------------------------------------
G0 G40 Z-3 Y0
G0 X=I_R9[50]+10
M4=97
R3=5 ;最大切深
R4=0.5 ;进给
CYCLE95("START3:END3",R3,0,0,0,R4,0,0,1,0,0,0,0,2)
G90 G0 G40 X=I_R9[50]+10
;------------------------------------
M21=9
M20=151
M4=5
GX73
GZ73 Y0
M01
GROUP_END(0,0)
;------------------------------------
STEP_5:
WAITM(5,1,2,3)
;------------------------------------
;'''夹紧卡爪，松开驱动盘'''

MSG("CLAMPING JAWS")
;------------------------------------
STEP_6:
WAITM(6,1,2,3)
;------------------------------------
;'''二通道车黑皮'''
GROUP_BEGIN(0,"PRE_ROUGHING",0,0)
MSG("PRE_ROUGHING")
GX73
GZ73 Y0
T10
D1
G59 X=XMW_1 Y=YMW_1 Z=ZMW_1 C=CMW_1
SETMS(4)
DIAMON
G18
G92=I_R9[40]
G95 G90
G96 S4=170 M4=4
M21=8 M20=150 H50=80
;------------------------------------
G0 G40 Z=I_R9[51]+5 Y0
G0 X=I_R9[50]+10
M4=97
G1 X=I_R9[50]-{{ "%0.3f"|format(U_PRET_X) }} F400
G1 Z={{ "%0.0f"|format(U_PRET_Z) }} F0.6
G1 X=I_R9[50]+5 F400
G0 G40 X=I_R9[50]+10
;------------------------------------
M21=9
M20=151
M4=5
GX73
GZ73 Y0
M01
GROUP_END(0,0)
;------------------------------------
STEP_210:
WAITM(10,1,2,3)
;------------------------------------
;'''一二通道同步粗车-右侧'''
GROUP_BEGIN(0,"Sync Turning right side",0,0)
MSG("Sync Turning right side")
GX73
GZ73 Y0
T5
D1
G59 X=XMW_1 Y=YMW_1 Z=ZMW_1 C=CMW_1
SETMS(4)
DIAMON
G18
G92=I_R9[40]
G95 G90
G96 S4=170 M4=4
M21=8 ;M20=150 H50=50
G0 Z=I_R9[51]+5
G0 X=I_R9[50]+20
WAITM(11,1,2)
;------------------------------------
{{SYNC_TURNING_RIGHT_CH2}}
;------------------------------------
M21=9
M20=151
GX73
GZ73 Y0
M01
GROUP_END(0,0)
;------------------------------------
STEP_230:
WAITM(52,1,2)

M4=5

;'''一二通道同步粗车完成'''
;------------------------------------

;------------------------------------
STEP_253:
WAITM(53,1,2,3)
;------------------------------------

;------------------------------------
STEP_256:
WAITM(56,1,2,3)
;------------------------------------


STEP_258:
WAITM(58,1,2,3)
;'''松开卡爪，顶紧驱动盘，准备精车'''
;------------------------------------
MSG("OPENING JAWS")
;------------------------------------
STEP_259:
WAITM(59,1,2,3)
;'''一二三通道精车'''
;----------
;精车程序...
;----------
GROUP_BEGIN(0,"LEFT SIDE FINISHING",0,0)
MSG("LEFT SIDE FINISHING")
GX73
GZ73 Y0
T8 D1
G59 X=XMW_1 Y=YMW_1 Z=ZMW_1 C=CMW_1
SETMS(4)
DIAMON
G18
G92=I_R9[40]
G95 G90
;G96 S4=200 M4=4
M21=8 ;M20=150 H50=50
G0 G40 Z-3 Y0
G0 X=I_R9[50]+10
WAITM(60,1,2,3)
;------------------------------------
{{FINISH_TURNING_CH2}}
;------------------------------------
M21=9
M20=151
GX73
GZ73 Y0
M01
GROUP_END(0,0)

WAITM(61,1,2,3)
;'''精车结束'''
;------------------------------------

GX73
GZ73 Y0
T4 D0
GZ273


STEP_262:
WAITM(62,1,2,3)

;----------

;----------
STEP_265:
WAITM(65,1,2,3)

STEP_268:
WAITM(68,1,2,3)

STEP_271:
WAITM(71,1,2,3)
;------------------------------------
MSG("CLAMPING JAWS")
;------------------------------------
;'''铣键槽'''
STEP_274:
WAITM(74,1,2,3)

STEP_277:
WAITM(77,1,2,3)

STEP_280:
WAITM(80,1,2,3)

STEP_283:
WAITM(83,1,2,3)

;------------------------------------
STEP_850:
WAITM(85,1,2,3)

GROUP_BEGIN(0,"UNLOAD",1,0)
MSG(" UNLOAD FINISH WORKPIECE")
GX73
GZ73 Y0
T4
D0
GZ273
STOPRE
GROUP_END(0,1)
;------------------------------------
WAITM(86,1,2,3)
STEP_8000:

STEP_9999:
STOPRE
WAITM(99,1,2,3)
;------------------------------------
;'''程序结束'''
I_M392

M30
;------------------------------------
{{ left_T_START3_END3 }}
;------------------------------------
;'''错误跳转位置'''
MA333:
M193 H55162
M0
M02

%
